@media (max-width: 1024px) {
    .entry,
    .entry-header {
        grid-template-columns: 6rem 1fr 6rem 6rem 6rem 6rem 6rem;
        font-size: 2rem;
    }

    .cover-art {
        width: 5.5rem;
    }

    .title {
        font-size: 1.6rem;
    }

    .artist {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .site-title {
        font-size: 3.2rem;
    }

    .site-subtitle {
        font-size: 1.4rem;
    }
}

@media (max-width: 640px) {
    .points, .delta, .peak, .number-ones, .months {
        display: none;
    }

    .entry,
    .entry-header {
        grid-template-columns: 6rem 1fr;
    }

    .entry-header {
        font-size: 1.6rem;
        padding: 0.5rem 1rem;
    }

    .entry {
        font-size: 2rem;
        padding: 1rem;
    }
}

@media (max-width: 524px) {
    h1 {
        font-size: 3.8rem;
    }

    .download-card {
        font-size: 1.8rem; 
        padding: 1rem 1rem;
    }
}

@media (max-width: 480px) {
    .site-title {
        font-size: 2.4rem;
    }

    .site-subtitle {
        font-size: 1.2rem;
    }
}

@media (max-width: 430px) {
    .entry,
    .entry-header {
        gap: 1rem;
    }

    .title {
        font-size: 1.4rem;
    }

    .artist {
        font-size: 1.2rem;
    }

    .cover-art {
        width: 4rem;
    }

    .position {
        font-size: 3rem;
    }

    h1 {
        font-size: 3rem;
    }

    .download-card {
        font-size: 1.6rem; 
        padding: 8px 8px;
    }
}

@media (max-width: 340px) {
    h1 {
        font-size: 2.4rem;
    }
}